* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
    margin: 50px;
}

#caroussel {
    width: 60%;
    height: 500px;
    border: ridge 10px firebrick;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: #1e5e85;
}

#left {
    width: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#arrowLeft {
    width: 100%;
    height: 20%;
}
i {
    font-size: 200%;
}

#middle {
    width: 60%;
    height: 100%;
}
#right {
    width: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#arrowRight {
    width: 100%;
    height: 20%;
}

#photo {
    width: 100%;
    height: 100%;
    background-image: url(img/20456790.jpg);
    background-size: cover;
    background-position: center;

}
#size {
    width: 60%;
    height: 50px;
    text-align: center;
    border: solid 2px red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1e5e85;
}

.anim {
    animation-name: sweepLeft;
    animation-duration: 300ms;
}
.anim2 {
    animation-name: sweepLeft2;
    animation-duration: 300ms;
}
.anim3 {
    animation-name: sweepRight;
    animation-duration: 300ms;
}
.anim4 {
    animation-name: sweepRight2;
    animation-duration: 300ms;
}

@keyframes sweepLeft {
    0% {
        transform: translateX(50px);
        opacity: 30%;
    }
    100% {
        transform: translateX(70px);
    }

}
@keyframes sweepLeft2 {
    0% {
        transform: translateX(50px);
        opacity: 30%;
    }
    100% {
        transform: translateX(70px);
    }

}

@keyframes sweepRight {
    0% {
        transform: translateX(-50px);
        opacity: 30%;
    }
    100% {
        transform: translateX(-70px);
    }

}
@keyframes sweepRight2 {
    0% {
        transform: translateX(-50px);
        opacity: 30%;
    }
    100% {
        transform: translateX(-70px);
    }

}

